* {
  background-color: dimgrey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-height: 600px) {
  body{
    max-height: 600px;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  padding: 0;
}
.calculator {
  width: 10rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
}

.display {
  display:flex;
  justify-self: flex-start;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0;
  margin:0;
  width: 7rem;
  height: 8rem;
  max-width: 7rem;
  max-height: 8rem;
  background-color: black;
}

.display > * {
  background-color: black;
  color: whitesmoke;
  font-size: 1em;
  max-width: 7rem;
  max-height: 8rem;
}

button.number, button.decimal, button.operand, button.percent, button.sign, button.delete {
  background-color: whitesmoke;
  width: calc(30rem/17);
  height: calc(30rem/17);
}

button.clear, button.equals {
  background-color: whitesmoke;
  width: calc((30rem/17) * 2);
  height: calc(30rem/17);
}

button {
  padding: 0;
  margin:0;
  border:3px solid black;
  gap: 0;
  cursor: pointer;
}

.button-row {
  display: flex;
  width: 10rem;
  justify-items: center;
}

.crossRotate:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

#Enter {
  display: none;
}